body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-image: url("./img/1164874.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

h1 {
  font-size: 24px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-section {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #666;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
